<%= render 'layouts/navbar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @cook.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @cook.last_name %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @cook.visible %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cook.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cook.address %>
</p>

<p>
  <strong>Score:</strong>
  <%= @cook.score %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cook.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @cook.gender %>
</p>

<p>
  <strong>Seal:</strong>
  <%= @cook.seal %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @cook.birth_date %>
</p>

<%= link_to 'Edit', edit_cook_path(@cook) %> |
<%= link_to 'Back', cooks_path %>
