<% @cook = User.find(params[:user_id])%>
<h1 class="view-title" align="center"><%= @cook.name %></h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu orci sollicitudin, sodales diam vitae, pulvinar ipsum. Suspendisse eleifend vel metus ut gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed placerat orci dolor, vel vehicula eros luctus in. Duis rhoncus dolor ut faucibus mollis. Aliquam felis odio, imperdiet eu efficitur sit amet, dictum sit amet eros. Vestibulum neque libero, congue aliquet velit et, egestas fringilla lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris imperdiet sapien non nibh maximus efficitur. Ut at neque in diam tristique tempor.
</p>

<% if current_user == @cook %>
<h1 class="view-subtitle" align="center">Your Dishes</h1>
<div id="new-dish-button" align="center">
  <%= button_to 'New Dish', new_dish_path, class: "action-button", :method => :get %>
</div>
  <br />
  <div style="overflow-x:auto;">
    <table class="promotions" align="center">
      <tr class="user-dishes">
        <th>Picture</th>
        <th>Dish</th>
        <th>Price</th>
        <th>Description</th>
        <th>Times Buyed</th>
        <th>Active</th>
      </tr>
      <% current_user&.dishes.each do |dish| %>
        <% @dish = dish %>
          <tr>
            <% if dish.pictures.first %>
              <td><%= link_to image_tag(dish.pictures.first.image.url, :size => '50x50'), dish_path(dish), :class => "dish-avatar" %></td>
            <% else %>
              <td><%= link_to image_tag("https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg", :size => '50x50'), dish_path(dish), :class => "dish-avatar", :alt => "Dish picture" %></td>
            <% end %>
            <td><%= dish.name %></td>
            <td>$ <%= dish.price %></td>
            <td><%= dish.description %></td>
            <td><%= dish.times_buyed %></td>
            <td><%= link_to dish.activate_text(dish), toggle_activate_dish_path(dish), class: 'activate_dish' %> </td>
            <td><%= link_to 'Preview', dish %></td>
            <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
            <td><%= link_to 'Create Discount', new_dish_discount_path(@dish, :dish_id => @dish.id) %></td>
            <td><%= link_to 'Delete', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <%end%>
    </table>
  </div>
  <br>

<% else %>
<h1 class="view-title" align="center">Dishes</h1>
    <% @cook.dishes.all_actives.each do |dish| %>
      <%= render 'layouts/dish_item.html', dish: dish%>
    <% end %>
<% end %>
