<p id="notice"><%= notice %></p>

<h1>Users</h1>


    <% current_user.dishes.each do |dish| %>
      <h4 id="dish-show"><%= dish.name %></h4><p id="dish-show">by <%= dish.user.first_name %> <%= dish.user.last_name %></p>
      <% if dish.pictures.first %>
       <%= link_to image_tag(dish.pictures.first.image.url, :size => '220x200'), dish_path(dish), :class => "dish-avatar" %>
      <% end %>
      <p class="text-right">Price: <span style="color: green"><%= number_to_currency dish.price %></span></p>
      <p><%= dish.description %></p>
      <p>
      Tags: <%= raw dish.tags.map { |t| link_to t.name, tag_path(t) }.join(', ') %>
      </p>

      <div class="dish-buttons">
        <%= button_to 'Show', dish, :method => :get, :id => "dish-button" %>
        <%= link_to 'Edit', edit_dish_path(dish) %>
        <%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>




<br>

<%= link_to 'New Dish', new_dish_path %>
