<div>
  <div>
    <div>
      <h4><% @dish.name %></h4>
      <p>
        <strong>Description:</strong>
        <%=@dish.description %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= number_to_currency @dish.price %>
      </p>
      <p>
        <strong>Times buyed:</strong>
        <%= @dish.times_buyed %>
      </p>

      <%= button_to 'Add to Cart', cart_items_path(dish_id: @dish.id)%>
      <p><%= link_to "Back to Dishes", dishes_path %></p>
    </div>
  </div>
</div>
