<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='photo'>
    <%= f.label :avatar, 'Profile Picture' %>
    <%= f.file_field :avatar, :class => 'upload-avatar', :onchange => 'readURL(this);'%>
  </div>

  <div class="upload-preview" align="center">
    <img id="avatar-upload" src="#" />
  </div>

  <%= f.text_field :first_name, :placeholder => '  First Name', :class => 'field' %>
  <br>

  <%= f.text_field :last_name, :placeholder => '  Last Name', :class => 'field' %>
  <br>

  <%= f.email_field :email, :placeholder => '  Email Address', :class => 'field' %>
  <br>

  <%= f.text_field :address, :placeholder => '  Address', :class => 'field' %>
  <br>

  <%= f.text_field :phone, :placeholder => '  Phone', :class => 'field' %>
  <br>

  <p>Gender</p>
  <%= f.select :gender, options_for_select([['Male', 'Male'], ['Female', 'Female']]), :prompt => "Select Gender", :class => 'genForm_dropBox' %>
  <br>

  <p>Birth Date</p>
  <%= f.date_select :birth_date, :start_year=>1910, :end_year=>Date.today.year, :order=>[:day, :month, :year] %>
  <br>
  <br>
  <hr>
  <br>
  <h2 align="center">Password Update</h2>

  <%= f.password_field :password, :placeholder => '  Password' , :class => 'field' %>
  </br>

  <%= f.password_field :password_confirmation, :placeholder => '  Password Confirmation', :class => 'field' %>
  </br>

  <div class="actions">
    <%= f.submit "Update", :class => 'button' %>
  </div>
<% end %>
