<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%= f.text_field :first_name, :placeholder => '  First Name', :class => 'field' %>
  </br>

  <%= f.text_field :last_name, :placeholder => '  Last Name', :class => 'field' %>
  </br>

  <%= f.email_field :email, :placeholder => '  Email Address', :class => 'field' %>
  </br>

  <%= f.password_field :password,:placeholder => '  Password' , :class => 'field' %>
  </br>

  <%= f.password_field :password_confirmation, :placeholder => '  Password Confirmation', :class => 'field' %>
  </br>

  <div class='photo'>
    <%= f.label :avatar, 'Profile Picture' %>
    <%= f.file_field :avatar %>
  </div>
  </br>

  <%= f.hidden_field :role, :value => params[:role] %>

  <div class="actions">
    <%= f.submit 'Sign In', :class => 'button'%>
  </div>
<% end %>
