<div class="profile-container">

  <h2>
    <%= @user.first_name %> <%= @user.last_name %>
  </h2>
  <h4><%= @user.role %></h4>

  <div class="profile">

    <div class="profile-pic">

      Profile pic

    </div>

    <div class="profile-1">

      <div class="info">
        <p>
          <%= image_tag "email_icon.png", size: "30x30", id: "icon" %>
          <%= @user.email %>
        </p>
      </div>

      <div class="info">
        <p>
          <%= image_tag "number_icon.png", size: "30x30", id: "icon" %>
          <%= @user.phone %>
        </p>
      </div>

      <div class="info">
        <p>
          <%= image_tag "address_icon.png", size: "30x30", id: "icon" %>
          <%= @user.address %>
        </p>
      </div>

      <% if @user.is_cook? %>
        <div class="info">
          <p>
            <%= image_tag "points_icon.png", size: "30x30", id: "icon" %>
            <%= @user.avg_stars %>
          </p>
        </div>
      <% end %>

      <div class="info">
        <p>
          <%= image_tag "birth_date_icon.png", size: "30x30", id: "icon" %>
          <%= @user.birth_date %>
        </p>
      </div>

    </div>

    <div class="profile-2">


    </div>

  </div>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

</div>
