<h1 class="title"><span>Eats</span> User Profile</h1>
<div class="user-container">
  <div class="user-card">
    <img class="avatar" src="http://www.argcapnet.org.ar/wp-content/uploads/2017/01/man.png" alt="User profile picture" />
        <h1 class="profile-title"><%= @user.first_name %> <%= @user.last_name %></h2>
        <h2 class="role"><%= @user.role %></h2>
        <% if @user.dishes.size > 0%>
          <h4><%= '%.2f' % @user.avg_stars %> Stars</h4>
        <% else %>
          <h4> 0 Stars</h4>
        <% end %>
    <ul class="data">
      <li class="data">
        <span class="entypo-paper-plane"> <%= @user.email %></span>
      </li>
      <li class="data">
        <span class="entypo-phone"> <%= @user.phone %></span>
      </li>
      <li class="data">
        <span class="entypo-address"> <%= @user.address %></span>
      </li>
   </ul>
  </div>

  <div class="user-info">

    <div class="fav">
      <h1 class="profile-title">Favorite Dishes</h2>

        <% @dishes.each do |dish| %>
          <%- unless current_user.favorite_dishes.exists?(id: dish.id) -%>

          <% else %>
            <div class="dish-display" >

              <h4 id="dish-show"><%= dish.name %></h4><p id="dish-show">by <%= dish.user.first_name %> <%= dish.user.last_name %></p>

              <% if dish.pictures.first %>
               <%= link_to image_tag(dish.pictures.first.image.url, :size => '200x200'), dish_path(dish), :class => "dish-avatar" %>
              <% else %>
                <img class="dish-avatar" src="https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg" alt="Dish picture" />
              <% end %>
              <p class="text-right">Price: <span style="color: green"><%= number_to_currency dish.price %></span></p>

              <p><%= dish.description %></p>

              <p>
              Categories: <%= raw dish.categories.map { |t| link_to t.name, category_path(t) }.join(', ') %>
              </p>

              <p>
              Tags: <%= raw dish.tags.map { |t| link_to t.name, tag_path(t) }.join(', ') %>
              </p>

              <div class="dish-buttons">
                <%= link_to 'Show', dish %>
                <%if current_user %>
                   | <%= link_to 'Add to Cart', add_to_cart_dish_path(dish) %>
                  <%if (current_user.is_cook? && current_user.id == dish.user_id) || current_user.is_admin? %>
                     | <%= link_to 'Edit', edit_dish_path(dish) %>
                  <% end %>
                  <br>
                  <%= link_to 'Remove from favorites', favorite_dish_path(dish), method: :delete %>
                <% end %>
              </div>

            </div>
          <% end %>
        <% end %>

    </div>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
