
<h1 class="title"><span>Eats</span> User Profile</h1>
<div class="user-container">
  <div class="user-card">
    <img class="avatar" src="http://www.argcapnet.org.ar/wp-content/uploads/2017/01/man.png" alt="User profile picture" />
        <h1 class="profile-title"><%= @user.first_name %> <%= @user.last_name %></h2>
        <h2 class="role"><%= @user.role %></h2>
        <h4><%= @user.points %> Points</h4>
    <ul class="data">
      <li class="data">
        <span class="entypo-paper-plane"> <%= @user.email %></span>
      </li>
      <li class="data">
        <span class="entypo-phone"> <%= @user.phone %></span>
      </li>
      <li class="data">
        <span class="entypo-address"> <%= @user.address %></span>
      </li>
   </ul>
  </div>


  <div class="user-info">
    <div class="fav">
      <h1 class="profile-title">Favorite Cooks</h2>
    </div>

    <div class="fav">
      <h1 class="profile-title">Favorite Dishes</h2>
    </div>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
