<h1 class="title"><span>Eats</span> User Profile</h1>
<div class="user-container">
  <div class="user-card">
    <% if current_user.avatar.present? %>
    <%= image_tag(current_user.avatar.url(:medium), :class => "avatar border-white", :alt => "User profile picture") %>
    <% else %>
    <%= image_tag("http://www.argcapnet.org.ar/wp-content/uploads/2017/01/man.png", :class => "avatar border-white", :alt => "User profile picture") %>
    <% end %>
        <h1 class="profile-title"><%= @user.name %></h2>
        <h2 class="role"><%= @user.role %></h2>
        <% if !@user.avg_stars.nan? %>
          <h4><%= '%.2f' % @user.avg_stars %> Stars</h4>
        <% else %>
          <h4> Stars: no dish reviewed</h4>
        <% end %>
    <ul class="data">
      <li class="data">
        <span class="entypo-paper-plane"> <%= @user.email %></span>
      </li>
      <li class="data">
        <span class="entypo-phone"> <%= @user.phone %></span>
      </li>
      <li class="data">
        <span class="entypo-address"> <%= @user.address %></span>
      </li>
   </ul>
  </div>

  <div class="user-info">

    <div class="fav">
      <h1 class="profile-title">Favorite Dishes</h2>

        <% @dishes.each do |dish| %>
          <%- unless current_user.favorite_dishes.exists?(id: dish.id) -%>

          <% else %>
            <div class="dish-display" >

              <h4 id="dish-show"><%= dish.name %></h4><p id="dish-show">by <%= link_to "#{dish.user.name}", user_dishes_path_url(dish.user.id)%> </p>

              <% if dish.pictures.first %>
                <%= link_to image_tag(dish.pictures.first.image.url, :size => '200x200'), dish_path(dish), :class => "dish-avatar" %>
              <% else %>
                <%= link_to image_tag("https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg", :size => '200x200'), dish_path(dish), :class => "dish-avatar", :alt => "Dish picture" %>
              <% end %>
              <p class="text-right">Price: <span style="color: green">$ <%= dish.price %></span></p>

              <p><%= dish.description %></p>

              <p>
              Categories: <%= raw dish.categories.map { |t| link_to t.name, category_path(t) }.join(', ') %>
              </p>

              <p>
              Tags: <%= raw dish.tags.map { |t| link_to t.name, tag_path(t) }.join(', ') %>
              </p>

              <div class="dish-buttons">
                <%= link_to 'Show', dish %>
                <%if current_user %>
                   | <%= link_to 'Add to Cart', add_to_cart_dish_path(dish) %>
                  <%if (current_user.is_cook? && current_user.id == dish.user_id) || current_user.is_admin? %>
                     | <%= link_to 'Edit', edit_dish_path(dish) %>
                  <% end %>
                  <br>
                  <%= link_to 'Remove from favorites', favorite_dish_path(dish), method: :delete %>
                <% end %>
              </div>

            </div>
          <% end %>
        <% end %>

    </div>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>
