<h1 class="title"><span>Eats</span> User Profile</h1>
<div class="user-container">
  <div class="user-card">
    <% if current_user.avatar.present? %>
    <%= image_tag(current_user.avatar.url(:medium), :class => "avatar border-white", :alt => "User profile picture") %>
    <% else %>
    <%= image_tag("http://www.argcapnet.org.ar/wp-content/uploads/2017/01/man.png", :class => "avatar border-white", :alt => "User profile picture") %>
    <% end %>
        <h1 class="profile-title"><%= @user.name %></h2>
        <h2 class="role"><%= @user.role %></h2>
        <% if !@user.avg_stars.nan? %>
          <h4><%= '%.2f' % @user.avg_stars %> Stars</h4>
        <% else %>
          <h4> Stars: no dish reviewed</h4>
        <% end %>
    <ul class="data">
      <li class="data">
        <span class="entypo-paper-plane"> <%= @user.email %></span>
      </li>
      <li class="data">
        <span class="entypo-phone"> <%= @user.phone %></span>
      </li>
      <li class="data">
        <span class="entypo-address"> <%= @user.address %></span>
      </li>
   </ul>
  </div>

  <div class="user-info">

    <div class="fav">
      <h1 class="profile-title">Favorite Dishes</h1>

        <% @dishes.each do |dish| %>
          <%- unless current_user.favorite_dishes.exists?(id: dish.id) -%>

          <% else %>
            <%= render 'layouts/dish_item.html', dish: dish%>
          <% end %>
        <% end %>
    </div>

    <div class"bank_account">
      <h1 class="profile-title">Bank Account</h1>
      <% if current_user.bank_account.present? %>
        <p><strong>Type:</strong> <%= current_user.bank_account.account_type %></p>
        <p><strong>ID card number:</strong> <%= current_user.bank_account.id_card_number %></p>
        <p><strong>Account number:</strong> <%= current_user.bank_account.account %></p>
        <p><strong>Bank:</strong> <%= current_user.bank_account.bank %></p>
      <% else %>
        <%= link_to 'Update Bank Account', new_user_bank_account_path(current_user) %>
      <% end %>
    </div>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>
