<!-- Carousel -->
<p class="slogan" align="center">The place where you can eat dishes from the best independent cooks!</p>

<p class="index-text" align="center">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra in velit nec pharetra. Maecenas sit amet lacus libero. Duis dignissim feugiat mattis. In nibh justo, fermentum sed vulputate ut, tempor et leo. Suspendisse laoreet massa sit amet felis iaculis, in condimentum tortor laoreet. Vivamus justo purus, vehicula ac semper vel, volutpat ut orci.
</p>

<div class="carousel">
  <div class="carousel-inner">
    <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden checked>
    <div class="carousel-item">
      <%= image_tag("french_food.jpeg", :class => "avatar") %>
    </div>
    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden>
    <div class="carousel-item">
        <%= image_tag("italian_food.jpeg", :class => "avatar") %>    </div>
    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden>
    <div class="carousel-item">
      <%= image_tag("indian_food.jpeg", :class => "avatar") %>
    </div>
    <label for="carousel-3" class="carousel-control prev control-1">‹</label>
    <label for="carousel-2" class="carousel-control next control-1">›</label>
    <label for="carousel-1" class="carousel-control prev control-2">‹</label>
    <label for="carousel-3" class="carousel-control next control-2">›</label>
    <label for="carousel-2" class="carousel-control prev control-3">‹</label>
    <label for="carousel-1" class="carousel-control next control-3">›</label>
    <ol class="carousel-indicators">
      <li><label for="carousel-1" class="carousel-bullet">•</label></li>
      <li><label for="carousel-2" class="carousel-bullet">•</label></li>
      <li><label for="carousel-3" class="carousel-bullet">•</label></li>
    </ol>
  </div>
</div>

  <p class="index-text" align="center">
    Try the best dishes from the best cooks in Eats! Here you can find a wide range of cuisines. Including french, italian, indian and chinese.
  </p>

  <div align="center">
    <div class="container">
      <div class="item tm1">
        <%= image_tag("creme_brulee.jpeg", :class => "rotate-img") %>
      	<p>Crème Brûlée</p>
      </div>

      <div class="item tm2">
        <%= image_tag("biryani.jpg", :class => "rotate-img") %>
        <p>Biryani</p>
      </div>

      <div class="item tm3">
        <%= image_tag("camembert.jpg", :class => "rotate-img") %>
        <p>Camembert</p>
      </div>

    	<div class="item tm4">
        <%= image_tag("chardonnay.jpg", :class => "rotate-img") %>
      	<p>Chardonnay</p>
    	</div>

    	<br>

      <span>

    	<div class="item tm5">
        <%= image_tag("cheese_souffle.jpeg", :class => "rotate-img") %>
        <p>Cheese Soufflé</p>
      </div>

    	<div class="item tm6">
        <%= image_tag("beer.jpg", :class => "rotate-img") %>
      	<p>Beer</p>
    	</div>

    	<div class="item tm7">
        <%= image_tag("humita.jpg", :class => "rotate-img") %>
        <p>Humita</p>
    	</div>

      <span>

      <br>

    	<div class="item tm8">
        <%= image_tag("nachos.jpeg", :class => "rotate-img") %>
      	<p>Nachos</p>
      </div>

    	<div class="item tm2">
        <%= image_tag("momos.jpeg", :class => "rotate-img") %>
      	<p>Momos</p>
    	</div>

    		<div class="item tm3">
          <%= image_tag("sweet_and_sour_pork.jpeg", :class => "rotate-img") %>
        	<p>Sweet Sour Pork</p>
    	</div>

    	<div class="item tm4">
        <%= image_tag("pizza.jpeg", :class => "rotate-img") %>
      	<p>Pizza</p>
    	</div>

    </div>
  </div>
</div>

<p class="index-text" align="center">
  Suspendisse laoreet massa sit amet felis iaculis, in condimentum tortor laoreet. Vivamus justo purus, vehicula ac semper vel, volutpat ut orci. Cras purus elit, viverra quis leo a, pretium iaculis nisl. Vestibulum orci libero, luctus sit amet urna sit amet, maximus hendrerit nisi. Etiam enim augue, viverra vitae dapibus non, venenatis nec lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
</p>

<div class="logo" align="center">
  <%= image_tag("logo_no_name.png", :size => "300x330") %>
</div>
