<%= form_for @order, :url => { :action => "place_order" }, :html => { :method => "post" } do |f| %>
  <fieldset>
    <legend>Contact Information</legend>
    <p>
    <label for="order_email">Email</label><br/>
    <%= f.email_field :customer_email, class: "field", :value => current_user.email %>
    </p>
    <p>
    <label for="order_phone_number">Phone number</label><br/>
    <%= f.phone_field :customer_phone_number, class: "field", :value => current_user.phone %>
    </p>
  </fieldset>

  <fieldset>
    <legend>Shipping Address</legend>
    <p>
      <label for="order_deliver_to_first_name">First name</label><br/>
      <%= f.text_field :deliver_to_first_name, class: "field", :value => current_user.first_name %>
    </p>
    <p>
      <label for="order_deliver_to_last_name">Last name</label><br/>
      <%= f.text_field :deliver_to_last_name, class: "field", :value => current_user.last_name %>
    </p>
    <p>
      <label for="order_deliver_to_address">Address</label><br/>
      <%= f.text_field :deliver_to_address, class: "field", :value => current_user.address%>
    </p>
  </fieldset>


  <h3>Transfer Information</h3>

  <p>
    Please transfer the total amount of <%= @order.total_price %> to the following account to validate your order.
  </p>

  <p><strong>Name:</strong> Eats Spa</p>
  <p><strong>Account Type:</strong> Cuenta Corriente</p>
  <p><strong>Card Number ID (RUT):</strong> 18.641.959-6</p>
  <p><strong>Account Number:</strong> 9998881223</p>
  <p><strong>Email:</strong> payments@eats.cl</p>



<div class="actions">
  <p>
    <%= f.submit "Place Order", :class => "button" %>
  </p>
</div>

<% end %>
