<% content_for :title, "Order" %>

<h1>
  Your order details
</h1>

<p>
  Status: <%= @order.status %>
</p>

<table id="order_items">
  <tr>
    <th>Dish</th>
    <th>Cook</th>
    <th>Quantity</th>
    <th class="price">Unit Price</th>
    <th class="price">Full Price</th>
  </tr>
  <% @order.order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.dish.name %></td>
      <td><%= order_item.dish.user.name %></td>
      <td class="qty"><%= order_item.quantity %></td>
      <td class="price"><span style="color: green"> $ <%= order_item.unit_price %></span></td>
      <td class="price"><span style="color: green"> $ <%= order_item.total_price %></span></td>
    </tr>
  <% end %>
  <tr>
    <td class="taxes" colspan="5">
      Taxes (19%): <span style="color: green">$ <%= @order.total_price * 0.19 %></span>
    </td>
  </tr>
  <tr>
    <td class="total price" colspan="5">
      Total: <span style="color: green">$ <%= @order.total_price %></span>
    </td>
  </tr>
  <tr>
    <td class="tips" colspan="5">
      Tips: <span style="color: green">$ <%= @order.total_price * 0.1 %></span>
    </td>
  </tr>
  <tr>
    <td class="tips" colspan="4">
      Final Price: <span style="color: green">$ <%= @order.total_price * 1.1 %></span>
    </td>
  </tr>
</table>
