<div class="shopping-cart">
  <h1>Cart</h1>

  <table id="cart_items">
    <tr>
      <th>Dish</th>
      <th>Quantity</th>
      <th class="price">Unit Price</th>
      <th class="price">Full Price</th>
      <th> </th>
      <th> </th>
    </tr>
    <% @cart.cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.dish.name %></td>
        <td class="qty"><%= cart_item.amount %></td>
        <td class="price"> <span style="color: green"> $ <%= cart_item.unit_price %></span></td>
        <td class="price"> <span style="color: green"> $ <%= cart_item.total_price %></span></td>
        <td class="remove"> <%= link_to "Remove", remove_cart_path(cart_item.id) %></td>
        <td class="delete"> <%= link_to "Remove All", delete_cart_path(cart_item.id), remote: true, class: 'delete_item' %></td>
      </tr>
    <% end %>
    <tr>
      <td class="total price" colspan="6">
        Total: <span style="color: green"> $ <%= @cart.total_price %></span>
      </td>
    </tr>
  </table>

  <p>
    <% if current_user %>
      <%= link_to "Checkout", checkout_order_path %>
    <% else %>
      <%= link_to "Checkout", login_path %>
    <% end %>

  </p>
</div>
