<%= form_for @dish, :html => { :multipart => true } do |f| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-dish-form">
    <%= f.text_field :name, class: "field", placeholder: "  Name" %>
    <%= f.number_field :price, class: "field", placeholder: "  Price" %>
    <%= f.text_field :description, class: "field", placeholder: "  Description" %>

    <div class="photo">
      <%= f.label :pictures, :class => "control-label" %>
      <div class="controls">
        <%= file_field_tag "images[]", type: :file, multiple: true  %>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit "Submit", :class => "button" %>
    </div>
  </div>
<% end %>
