<%= form_for @dish, :html => { :multipart => true } do |f| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="new-dish-form">
    <%= f.text_field :name, class: "field", placeholder: "  Name" %>
    <%= f.number_field :price, class: "field", placeholder: "  Price" %>
    <%= f.text_field :description, class: "field", placeholder: "  Description" %>
    <%= f.text_field :category_list, class: "field", placeholder: "  Categories (separated by commas)" %>
    <%= f.text_field :tag_list, class: "field", placeholder: "  Tags (separated by commas)" %>
  </div>


    <div class="photo" align="center" style="margin-bottom: 20px;">
      <%= f.label :pictures, :class => "view-subtitle", :style => "margin-bottom: 30px;" %>
      <div class="controls">
        <%= file_field_tag "images[]", type: :file, multiple: true  %>
      </div>
    </div>

    <% @dish.pictures.each do |picture| %>
    <div align="center">
      <%= f.fields_for :pictures, picture do |image_fields| %>
        <%= image_tag picture.image.url %>
        <%= image_fields.check_box :_destroy %>
      <% end %>
    </div>
    <% end %>

    <% if @dish.user_id %>
      <p align="center">COOK ID: <%= @dish.user_id %></p>
    <% else %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>

    <div class="actions" align="center">
      <%= f.submit "Submit", :class => "action-button" %>
      <%= button_to 'Back', dishes_path, :method => :get, :class => "action-button" %>
    </div>
  </div>
<% end %>
