<p id="notice"><%= notice %></p>



  <h1>Dishes Database Info</h1>
  <table class="dishes-table">
    <thead>
      <tr class="dishes-table">
        <th class="dishes-table">Name</th>
        <th class="dishes-table">Price</th>
        <th class="dishes-table">Cook</th>
        <th class="dishes-table">Times buyed</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @dishes.each do |dish| %>
        <tr class="dishes-table">
          <td class="dishes-table"><%= dish.name %></td>
          <td class="dishes-table"><%= dish.price %></td>
          <td class="dishes-table"><%= dish.user.first_name %> <%= dish.user.last_name %></td>
          <td class="dishes-table"><%= dish.times_buyed %></td>
          <td><%= link_to 'Show', dish %></td>
          <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
          <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<h1>Your dishes</h1>

<% if @recipes.blank? && @dishes.size <= 0 %>

    <h4>There are no dishes avaliable at this moment.</h4>

<% else%>
  <% @dishes.each do |dish| %>
    <div class="dish-display" >
      <h4 id="dish-show"><%= dish.name %></h4><p id="dish-show">by <%= dish.user.first_name %> <%= dish.user.last_name %></p>
      <p class="text-right">Price: <span style="color: green"><%= number_to_currency dish.price %></span></p>
      <p><%= dish.description %></p>

      <div class="dish-buttons">
        <%= button_to 'Show', dish_path(dish), :id => "dish-button" %>
        <%= button_to 'Add to Cart', cart_items_path(dish_id: dish.id), :id => "dish-button"%>
      </div>
    </div>
  <% end %>
<% end %>

<%= button_to 'New Dish', new_dish_path, :id => "new-dishes-button" %>
