<p id="notice"><%= notice %></p>

<h1>Menu</h1>

<% if @recipes.blank? && @dishes.size <= 0 %>

    <h4>There are no dishes avaliable at this moment.</h4>

<% else%>
  <% @dishes.each do |dish| %>
    <div class="dish-display" >
      <h4 id="dish-show"><%= dish.name %></h4><p id="dish-show">by <%= dish.user.first_name %> <%= dish.user.last_name %></p>
      <% if dish.pictures.first %>
       <%= link_to image_tag(dish.pictures.first.image.url, :size => '200x200'), dish_path(dish), :class => "dish-avatar" %>
      <% else %>
        <img class="dish-avatar" src="https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg" alt="Dish picture" />
      <% end %>
      <p class="text-right">Price: <span style="color: green"><%= number_to_currency dish.price %></span></p>
      <p><%= dish.description %></p>
      <p>
      Tags: <%= raw dish.tags.map { |t| link_to t.name, tag_path(t) }.join(', ') %>
      </p>

      <div class="dish-buttons">
        <%= link_to 'Show', dish %> |
        <%if current_user %>
          <%= link_to 'Add to Cart', cart_items_path(dish_id: dish.id) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
