<div id="modal-review" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <h1><%= @dish.name%></h1>
  <% if current_user&.is_admin? %>
    <h3>ID: <%= @dish.id%></h3>
  <% end %>
  <br>
  <% if !@dish.avg_forks.nan? %>
    <h4>Forks: <%= '%.2f' % @dish.avg_forks %> </h4>
  <% else %>
    <h4>Forks: 0 </h4>
  <% end %>
  <% if @dish.pictures.first %>
   <%= image_tag(@dish.pictures.first.image.url, :size => '200x200', :class => "dish-avatar") %>
  <% else %>
    <img class="dish-avatar" src="https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg" alt="Dish picture" />
  <% end %>
  <p>
    by <%= link_to "#{@dish.user.name}", user_dishes_path_url(@dish.user.id)%>
  </p>
  <p>
    <strong>Description:</strong>
    <%=@dish.description %>
  </p>
  <p>
    <% if @dish.discounts.active.size > 0 %>
    <p class="text-right"><strong>Price:</strong> <span style="color: orange"> $ <%= (@dish.price*(100-@dish.discounts.active.last.discount_percent))/100%></span></p>
    <p class="text-right"><strong><%= @dish.discounts.active.last.discount_percent%>% OFF!</strong></p>
    <% else %>
    <p class="text-right"><strong>Price:</strong> <span style="color: green"> $ <%= @dish.price %></span></p>
    <% end %>
  </p>
  <p>
    <strong>Times buyed:</strong>
    <%= 0 unless @dish.times_buyed %>
  </p>

<%= link_to 'Add to Cart', add_to_cart_dish_path(@dish)%>



<main class="comments">
  <div class="comments-container">
    <% if current_user %>
    <h2>Add a New Review </h2>
      <%= render partial: 'reviews/form', locals: {:dish_id => @dish.id, review: @dish.reviews.new} %>
    <%else%>
    <h2><%= link_to "Add a New Review", login_path %></h2>
    <% end %>

		<ul id="comments-list" class="comments-list">
      <% @reviews = Review.where(dish_id: @dish.id)%>
      <% @reviews.each do |review| %>
      <li>
        <div class="comment-main-level">
          <!-- Avatar -->
          <% if review.user.avatar.present? %>
          <div class="comment-avatar"><%= image_tag(review.user.avatar.url(:medium), :class => "avatar border-white", :alt => "User profile picture") %></div>
          <% else %>
          <div class="comment-avatar"><%= image_tag(review.user.avatar.url(:thumb), :class => "avatar border-white", :alt => "User profile picture") %></div>
          <% end %>
          <!-- Contenedor del Comentario -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author"><%= review.user.name %></h6>
            </div>

            <div class="comment-content">
              <% if review.title.present? %>
              <h3><%= review.title %></h3>
              <br>
              <% end %>
              <% if review.body.present? %>
              <p><%= review.body %></p>
              <br>
              <% end %>
              <p>FORKS:  <%= review.forks %></p>
              <% if current_user&.id == review.user_id %>
              <p>
                <%= link_to 'Edit Review', edit_review_path(review) %> | <%= link_to 'Delete Review', review, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
            </div>
          </div>
        </div>
      </li>
      <% end %>
		</ul>
	</div>
</main>



<p><%= link_to "Back to Dishes", dishes_path %></p>
