<h1 id="view-title" align="center"><%= @dish.name%></h1>
<h2 id="view-subtitle" align="center">by <%= link_to "#{@dish.user.name}", user_dishes_path(@dish.user)%></h2>
<div class="dish-show">
  <div id="modal-review" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <div id=dish-element>

    <section id="dish-photos" align="center">
      <div class="fotorama" align="center" data-nav="thumbs">
      <% if @dish.pictures.size > 0 %>
        <% @dish.pictures.each do |picture| %>
          <%= image_tag(picture.image.url, :class => "dish-avatar") %>
        <% end %>
      <% else %>
        <img class="dish-avatar" src="https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg" alt="Dish picture" />
      <% end %>
    </section>
    <% if !@dish.avg_forks.nan? %>
      <h3 align="center"><%= '%.2f' % @dish.avg_forks %> Fork(s)</h3>
    <% else %>
      <h3 align="center"> 0 Forks</h3>
    <% end %>
  </div>

    <section id="dish-info">
      <% if current_user&.is_admin? %>
        <h3>Dish ID: <%= @dish.id%></h3>
      <% end %>
      <p>
        <strong>Description:</strong>
        <%=@dish.description %>
      </p>
      <p>
        <% if @dish.discounts.active.size > 0 %>
        <p class="text-right"><strong>Price:</strong> <span style="color: orange"> $ <%= (@dish.price*(100-@dish.discounts.active.last.discount_percent))/100%></span></p>
        <p class="text-right"><strong><%= @dish.discounts.active.last.discount_percent%>% OFF!</strong></p>
        <% else %>
        <p class="text-right"><strong>Price:</strong> <span style="color: green"> $ <%= @dish.price %></span></p>
        <% end %>
      </p>
      <p>
        <strong>Times buyed:</strong>
        <%= 0 unless @dish.times_buyed %>
      </p>
      <%= social_share_button_tag(@dish.name, 'data-twitter-title' => @dish.name, :url => "http://eats-cl.herokuapp.com/dishes") %>
      <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
Tweet</a>
      <p class="link">
        <%= link_to 'Add to Cart', add_to_cart_dish_path(@dish)%>
        <% if current_user %>
          <%= link_to '| Add a New Review', new_review_path(@review, :dish_id => @dish.id), :id => 'new_review_link', remote: true %>
        <%else%>
          <%= link_to "| Add a New Review", login_path %>
        <% end %>
      </p>
    </section>

  <h1 id="view-subtitle" align="center">Reviews</h1>
  <main class="comments">
    <div class="comments-container" id="comments-container">
  		<ul id="comments-list" class="comments-list">
        <% @reviews = Review.where(dish_id: @dish.id)%>
        <% @reviews.each do |review| %>
        <%= render partial: 'reviews/review_list', locals: {review: review} %>
        <% end %>
  		</ul>
  	</div>
  </main>

  <p class="link"><%= link_to "Back to Dishes", dishes_path %></p>
</div>
