<div id="modal-review" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <% current_dish = @dish %>
  <h2><%= @dish.name %></h2>
  <% if !@dish.avg_forks.nan? %>
    <h4>Forks: <%= '%.2f' % @dish.avg_forks %> </h4>
  <% else %>
    <h4>Forks: 0 </h4>
  <% end %>
  <% if @dish.pictures.first %>
   <%= image_tag(@dish.pictures.first.image.url, :size => '200x200', :class => "dish-avatar") %>
  <% else %>
    <img class="dish-avatar" src="https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg" alt="Dish picture" />
  <% end %>
  <p>
    by <%= link_to "#{@dish.user.name}", user_dishes_path_url(@dish.user.id)%>
  </p>
  <p>
    <strong>Description:</strong>
    <%=@dish.description %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= number_to_currency @dish.price %>
  </p>
  <p>
    <strong>Times buyed:</strong>
    <%= 0 unless @dish.times_buyed %>
  </p>

<%= link_to 'Add to Cart', add_to_cart_dish_path(@dish)%>



<main class="comments">
  <div class="comments-container">
		<h2>Comments</h2>
    <%= render partial: 'reviews/form', locals: {dish: @dish, review: Review.new} %>

    <%= link_to 'Add Review', new_dish_review_path(@dish) %>

		<ul id="comments-list" class="comments-list">
      <% Review.where(dish_id: @dish.id).each do |review| %>
      <li>
        <div class="comment-main-level">
          <!-- Avatar -->
          <div class="comment-avatar"><%= image_tag(current_user.avatar.url(:thumb), :class => "avatar border-white") %></div>
          <!-- Contenedor del Comentario -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author"><%= review.user.name %></h6>
            </div>

            <div class="comment-content">
              <p><%= review.body %></p>
              <br>
              <p>FORKS:  <%= review.forks %></p>
              <% if current_user.id == review.user_id %>
              <p>
                <%= link_to 'Edit Comment', edit_review_path(review) %> | <%= link_to 'Delete Comment', review, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
            </div>
          </div>
        </div>
      </li>
      <% end %>
		</ul>
	</div>
</main>



<p><%= link_to "Back to Dishes", dishes_path %></p>
