<h1 class="view-title" align="center"><%= @dish.name%></h1>
<h2 class="view-subtitle" align="center">by <%= link_to "#{@dish.user.name}", user_dishes_path(@dish.user)%></h2>
<div class="dish-show">
  <div id="modal-review" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <div id=dish-element>

    <section id="dish-photos" align="center">
      <div class="fotorama" align="center" data-nav="thumbs">
      <% if @dish.pictures.size > 0 %>
        <% @dish.pictures.each do |picture| %>
          <%= image_tag(picture.image.url, :class => "dish-avatar") %>
        <% end %>
      <% else %>
        <img class="dish-avatar" src="https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg" alt="Dish picture" />
      <% end %>
    </section>
    <% if !@dish.avg_forks.nan? %>
      <div align="center">
        <%case @dish.avg_forks.round(1) %>
          <%when 1%>
            <%= image_tag "fork.png", size: "100x100", alt: '1 fork dish', class: "forks-show" %>
            <%when 1.5%>
              <%= image_tag "fork15.png", size: "100x100", alt: '1.5 fork dish', class: "forks-show" %>
          <%when 2%>
            <%= image_tag "fork2.png", size: "100x100", alt: '2 fork dish', class: "forks-show" %>
            <%when 2.5%>
              <%= image_tag "fork25.png", size: "100x100", alt: '2.5 fork dish', class: "forks-show" %>
          <%when 3%>
            <%= image_tag "fork3.png", size: "100x100", alt: '3 fork dish', class: "forks-show" %>
            <%when 3.5%>
              <%= image_tag "fork35.png", size: "100x100", alt: '3.5 fork dish', class: "forks-show" %>
          <%when 4%>
            <%= image_tag "fork4.png", size: "100x100", alt: '4 fork dish', class: "forks-show" %>
            <%when 4.5%>
              <%= image_tag "fork45.png", size: "100x100", alt: '4.5 fork dish', class: "forks-show" %>
          <%when 5%>
            <%= image_tag "fork5.png", size: "100x100", alt: '5 fork dish', class: "forks-show" %>
          <%else%>
            <%= image_tag "fork5.png", size: "100x100", alt: '5 fork dish', class: "forks-show" %>
        <% end %>
      </div>
      <h3 align="center"><%= '%.1f' % @dish.avg_forks %> Fork(s)</h3>
    <% else %>
      <h3 align="center"> 0 Forks</h3>
    <% end %>
  </div>

    <section id="dish-info">
      <% if current_user&.is_admin? %>
        <h3>Dish ID: <%= @dish.id%></h3>
      <% end %>
      <p id="p-description" align="center"><%=@dish.description %></p>
      <br>
      <p>
        <% if @dish.discounts.active.size > 0 %>
        <p class="text-right" id="p-price" align="center"><strong></strong> <span style="color: orange"> $ <%= (@dish.price*(100-@dish.discounts.active.last.discount_percent))/100%></span></p>
        <br>
        <p class="text-right" id="p-discount" align="center"><strong><%= @dish.discounts.active.last.discount_percent%>% OFF!</strong></p>
        <% else %>
        <p class="text-right" id="p-price" align="center"><span style="color: green"> $ <%= @dish.price %></span></p>
        <% end %>
      </p>
      <br>
      <p>
        <strong>Times buyed:</strong>
        <%if @dish.times_buyed > 0%> <%= @dish.times_buyed%>
        <% else %>
        0
        <% end %>
      </p>
      <%= social_share_button_tag(@dish.name, 'data-twitter-title' => @dish.name, :url => "http://eats-cl.herokuapp.com/dishes", id: "social-media-button") %>
      <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text=Hello%20world"
      data-size="large">
      Tweet</a>
      <p class="link">
        <%= link_to 'Add to Cart', add_to_cart_dish_path(@dish)%>
        <% if current_user %>
          <%= link_to '| Add a New Review', new_review_path(@review, :dish_id => @dish.id), :id => 'new_review_link', remote: true %>
        <%else%>
          <%= link_to "| Add a New Review", login_path %>
        <% end %>
      </p>
    </section>

  <h1 class="view-subtitle" align="center">Reviews</h1>
  <main class="comments">
    <div class="comments-container" id="comments-container">
  		<ul id="comments-list" class="comments-list">
        <% @reviews = Review.where(dish_id: @dish.id)%>
        <% @reviews.each do |review| %>
        <%= render partial: 'reviews/review_list', locals: {review: review} %>
        <% end %>
  		</ul>
  	</div>
  </main>

  <p class="link"><%= link_to "Back to Dishes", dishes_path %></p>
</div>
