<div>
  <div>
    <div>
      <div id="modal-review" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
      <% current_dish = @dish %>
      <h2><%= @dish.name %></h2>

      <h4>Forks: <%= '%.2f' % @dish.avg_forks %> </h4>
      <p>
        <strong>Description:</strong>
        <%=@dish.description %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= number_to_currency @dish.price %>
      </p>
      <p>
        <strong>Times buyed:</strong>
        <%= 0 unless @dish.times_buyed %>
      </p>

      <div>
        <% Review.where(dish_id: @dish.id).each do |review| %>
          <div class="reviews-display" >
            <p> <%= review.forks %></p>
            <h4><%= review.title %></h4><p>by <%= review.user.name %></p>
            <p><%= review.body %></p>
            <% if current_user.id == review.user_id %>
              <p>
                <%= link_to 'Edit', edit_review_path(review) %> | <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to 'Add Review', new_dish_review_path(@dish) %>
      <%= button_to 'Add to Cart', cart_items_path(dish_id: @dish.id)%>
      <p><%= link_to "Back to Dishes", dishes_path %></p>

    </div>
  </div>
</div>
