<h4><% @dish.name %></h4>

<%= simple_format h(@dish.description) %>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @dish.price %>
</p>

<% form_for @dish.cart_items.build do |f| %>
  <%= f.hidden_field :dish_id %>
  <%= f.submit "Add to Cart" %>
<% end %>

<% unless @dish.category.nil? %>
<p>
  <strong>Category:</strong>
  <%= link_to h(@dish.category.name), @dish.category %>
</p>
<% end %>


<p>
  <%= link_to "Back to Dishes", dishes_path %>
</p>
