<p id="notice"><%= notice %></p>

<p>
  <strong>From date:</strong>
  <%= @discount.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @discount.to_date %>
</p>

<p>
  <strong>Discount percent:</strong>
  <%= @discount.discount_percent %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @discount.dish %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
