<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button(:forks, 5) %> <%= f.label(:forks.to_s + "_5", "Awesome !") %>
    <%= f.radio_button(:forks, 4) %> <%= f.label(:forks.to_s + "_4", "Pretty good") %>
    <%= f.radio_button(:forks, 3) %> <%= f.label(:forks.to_s + "_3", "So so") %>
    <%= f.radio_button(:forks, 2) %> <%= f.label(:forks.to_s + "_2", "Kinda bad") %>
    <%= f.radio_button(:forks, 1) %> <%= f.label(:forks.to_s + "_1", "Very bad") %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= button_to 'Back', dishes_path, :method => :get, :class => "button" %>
  </div>
<% end %>
