<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="radios" align="center">
    <h3>Rate this dish!</h3>
    <br>
    <% 1.upto(5) do |i| %>
      <div class="radio-button">
        <%= f.radio_button :forks, i %><%= f.label(:forks.to_s + "_" + i.to_s, i.to_s + " Forks") %>
      </div>
    <% end %>
  </div>

  <%= f.text_field :title, :placeholder => "Review Title", :class => "review-title" %>
  <br>

  <%= f.text_area :body, :placeholder => "Review...", :class => "review-box" %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :dish_id, :value => @dish.id %>

  <div class="actions" align="center">
    <%= f.submit "Add Review", :class => "review-button" %>
    <%= button_to 'Back', @dish, :method => :get, :class => "review-button" %>
  </div>
<% end %>
