<li>
  <div class="comment-main-level" id="comments-section">
    <!-- Avatar -->
    <% if review.user.avatar.present? %>
    <div class="comment-avatar"><%= image_tag(review.user.avatar.url(:medium), :class => "avatar border-white", :alt => "User profile picture") %></div>
    <% else %>
    <div class="comment-avatar"><%= image_tag(review.user.avatar.url(:thumb), :class => "avatar border-white", :alt => "User profile picture") %></div>
    <% end %>
    <!-- Contenedor del Comentario -->
    <div class="comment-box">
      <div class="comment-head">
        <h6 class="comment-name by-author"><%= review.user.name %></h6>
        <br />
        <br />
        <p> <%= review.created_at.strftime("%B") %> <%= review.created_at.strftime("%d") %>, <%= review.created_at.strftime("%Y") %></p>
      </div>

      <div class="comment-content">
        <% if review.title.present? %>
        <%= image_tag "fork#{review.forks}.png", size: "65x65", alt: '2 fork dish', id: "forks-show-review" %>
        <h3><%= review.title %></h3>
        <br>
        <% end %>
        <% if review.body.present? %>
        <p><%= review.body %></p>
        <% end %>
        <% if current_user&.id == review.user_id %>
        <p class="link">
          <%= link_to 'Edit Review', edit_review_path(review) %> |
          <%= link_to 'Delete Review', review, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
        </p>
      <% end %>
      </div>
    </div>
  </div>
</li>
