<div class="dish-display" >
  <section align="center">
    <% if dish.discounts.active.size > 0 %>
      <div class="discount-flag">
        - <%= dish.discounts.active.last.discount_percent %>%
      </div>
    <% end %>
    <div class="fotorama">
      <% if dish.pictures.first %>
        <% dish.pictures.each do |picture|%>
          <%= link_to image_tag(picture.image.url, :size => '200x200'), dish_path(dish), :class => "dish-avatar" %>
        <% end %>
      <% else %>
      <%= link_to image_tag("https://www.devinecorp.net/cw2/Assets/product_full/107-new.jpg", :size => '200x200'), dish_path(dish), :class => "dish-avatar", :alt => "Dish picture" %>
      <% end %>
    </div>
  </section>
  <div align="right">
    <% if dish.user.avatar.present? %>
        <%= link_to image_tag(dish.user.avatar.url, :class => "dish-cook", :alt => "Dish Cook", :size => '50x50'), user_path(dish.user) %>
    <% else %>
    <%= link_to image_tag("http://www.argcapnet.org.ar/wp-content/uploads/2017/01/man.png", :class => "dish-cook", :alt => "Dish Cook",:size => '50x50'), user_path(dish.user) %>
    <% end %>
  </div>
  <div class="dish-subheader">
    <h4 align="center">Perfecta para compartir<%= raw dish.tags.map { |t| link_to t.name, tag_path(t) }.join(', ') %></h4>
  </div>
  <h2 id="dish-show" align="center" class="dish-name" style="font-family: 'Lora', serif"><%= dish.name %></h2>
  <p id="dish-show" align="center">by <%= link_to "#{dish.user.name}", user_dishes_path(dish.user)%></p>
  <section id="info">
      <% if dish.discounts.active.size > 0 %>
      <p class="text-right">Price: <span style="color: orange"> $ <%= (dish.price*(100-dish.discounts.active.last.discount_percent))/100%></span></p>
      <% else %>
      <p class="text-right">Price: <span style="color: green"> $ <%= dish.price %></span></p>
      <% end %>
      <p>
      Categories: <%= raw dish.categories.map { |t| link_to t.name, category_path(t) }.join(', ') %>
      </p>


      <div class="dish-buttons">
        <%= link_to '', dish, class: "fa fa-search", id: "fa-icon" %>
          <%= link_to '', add_to_cart_dish_path(dish), class: "fa fa-cart-plus" , id: "fa-icon" %>
          <%if (current_user&.is_cook? && current_user.id == dish.user_id) || current_user&.is_admin? %>
            <%= link_to '', edit_dish_path(dish), class: "fa fa-cog", id: "fa-icon" %>
          <% end %>
          <%if current_user %>
            <%- unless current_user.favorite_dishes.exists?(id: dish.id) -%>
              <%= link_to '', favorite_dishes_path(dish_id: dish), method: :post, class: "fa fa-star-o", id: "fa-icon" %>
            <%- else -%>
              <%= link_to '', favorite_dish_path(dish), method: :delete, class: "fa fa-star", id: "fa-icon" %>
            <%- end -%>
          <%- else -%>
            <%= link_to '', login_path, class: "fa fa-star-o", id: "fa-icon" %>
          <% end %>
    </div>
  </section>
</div>
