<!--

<h1><a href="https://dribbble.com/shots/850410" target="_blank">Dropdown Menu UI</a></h1>

<div class="content">
	<div class="admin-panel"><label for="toggle" class="admin-text">Admin Settings</label></div>
	<input type="checkbox" id="toggle">
	<label class="cog octicon octicon-gear" for="toggle"></label>
	<div class="menu">
		<div class="arrow"></div>
			<a href="#">Edit Users <span class="icon octicon octicon-person"></span></a>
			<a href="#">Web Statistics <span class="icon octicon octicon-graph"></span></a>
			<a href="#">Upload Settings <span class="icon octicon octicon-cloud-upload"></span></a>
			<a href="#">Edit Slider <span class="icon octicon octicon-pencil"></span></a>
		</div>
	</div>
</div>

Dropdown</button>

-->

<%= render 'layouts/sidebar' %>

<nav>
  <ul class="navbar">
    <li id="navbar"><span onclick="openNav()"><%= image_tag "menu_icon.png", size: "30x30", id: "menu-icon" %></span></li>
    <li id="navbar"><a class="navbar-brand" href="/">Eats</a></li>
    <li id="navbar"><%= link_to 'Dishes', dishes_path %></li>
    <li id="navbar">
    <%= form_tag(dishes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search , params[:search], placeholder: "  Dish, ingredients, cooks, ...", class: "field" %></div>
      <%= submit_tag "Search Dish", :name => nil, class: "button" %>
    <% end %>
    </li>
    <% if logged_in? %>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
          <%= current_user.name %> <b class="caret"></b>
        </a>
        <div class="dropdown-content">
          <ul class="dropdown">
            <li class="dropdown-item"><%= link_to "Profile", current_user %></li>
            <% if current_user.is_cook? %>
              <li class="dropdown-item"><%= link_to "My Dishes", user_dishes_path_url(current_user.id) %></li>
            <% end %>
            <%@cart = current_cart %>
            <li class="dropdown-item"><%= link_to "Cart", cart_path(current_cart) %></li>
            <li class="dropdown-item"><%= link_to "Shopping history", user_orders_path(current_user.id) %></li>
            <li class="dropdown-item"><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="dropdown-item"><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>

        </div>
      </li>
    <% else %>
      <%@cart = current_cart %>
      <li id="navbar" class="right"><%= link_to 'Login', login_path %></li>
      <li id="navbar" class="right"><%= link_to "Cart", cart_path(current_cart) %></li>
    <% end %>
  </ul>
</nav>
