<!--

<h1><a href="https://dribbble.com/shots/850410" target="_blank">Dropdown Menu UI</a></h1>

<div class="content">
	<div class="admin-panel"><label for="toggle" class="admin-text">Admin Settings</label></div>
	<input type="checkbox" id="toggle">
	<label class="cog octicon octicon-gear" for="toggle"></label>
	<div class="menu">
		<div class="arrow"></div>
			<a href="#">Edit Users <span class="icon octicon octicon-person"></span></a>
			<a href="#">Web Statistics <span class="icon octicon octicon-graph"></span></a>
			<a href="#">Upload Settings <span class="icon octicon octicon-cloud-upload"></span></a>
			<a href="#">Edit Slider <span class="icon octicon octicon-pencil"></span></a>
		</div>
	</div>
</div>

Dropdown</button>

-->

<%= render 'layouts/sidebar' %>

<nav id="navbar">
  <ul class="navbar">
    <li id="navbar"><span onclick="openNav()"><%= image_tag "menu_icon.png", size: "30x30", id: "menu-icon" %></span></li>
    <li id="navbar"><%= link_to image_tag("logo_no_name.png", alt: "logo", size:"75x75", class: "site-logo"), '/', class: 'navbar-brand' %></li>
    <li id="navbar"><%= link_to 'Dishes', dishes_path %></li>
    <li id="navbar"><%= link_to 'About Eats', about_path %></li>
    <li id="navbar">
    <%= form_tag(dishes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search , params[:search], placeholder: "  Find your favorite dish!", id: "field", class: "awesomplete", list: "mylist" %></div>
      <datalist id="mylist">
        <% @dishes.each do |dish| %>
          <option><%= dish.name %></option>
        <% end %>
      </datalist>
      <%= button_tag(type: "submit", class: "search-button") do %>
        <%= image_tag("icon_search.png", alt: "logo", size:"25x25", class: "search-icon")%>
      <% end %>
    <% end %>
    </li>
    <% if logged_in? %>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
          <%= current_user.name %> <b class="caret"></b>
        </a>
        <div class="dropdown-content">
          <ul class="dropdown">
            <li class="dditem">
              <%= link_to current_user do %>
                <i class="fa fa-user-o"></i>  Profile
              <% end %>
            </li>
            <% if current_user.is_cook? %>
            <li class="dditem">
              <%= link_to user_dishes_path_url(current_user.id) do %>
                <i class="fa fa-cutlery"></i>  Dishes
              <% end %>
            </li>
            <li class="dditem">
              <%= link_to promotions_path do %>
                <i class="fa fa-usd"></i>  Promotions
              <% end %>
            </li>
            <li class="dditem">
              <%= link_to 'Pending Orders', pending_orders_path%>
            </li>
            <% end %>
            <%@cart = current_cart %>

            <li class="dditem">
              <%= link_to cart_path(current_cart) do %>
                <i class="fa fa-shopping-cart"></i>  Cart
              <% end %>
            </li>

            <li class="dditem">
              <%= link_to user_orders_path(current_user.id) do %>
                <i class="fa fa-file-text-o"></i>  Shopping History
              <% end %>
            </li>

            <li class="dditem">
              <%= link_to edit_user_path(current_user) do %>
                <i class="fa fa-cogs"></i>  Settings
              <% end %>
            </li>
            <li class="dditem">
              Visible <%= check_box_tag current_user.visible, true, checked = true, :class =>"js-switch", :data => {:remote => true} %>
            </li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>

        </div>
      </li>
    <% else %>
      <%@cart = current_cart %>
      <li id="navbar" class="right"><%= link_to 'Login', login_path %></li>
      <li id="navbar" class="right"><%= link_to '', cart_path(current_cart), class: "fa fa-shopping-cart", id: "navbar-icon" %></li>
    <% end %>
  </ul>
</nav>
