<%= render 'layouts/sidebar' %>

<nav id="navbar">
  <ul class="navbar">
    <li id="navbar"><span onclick="openNav()"><%= image_tag "menu_icon.png", size: "40x40", id: "menu-icon" %></span></li>
    <li id="navbar"><%= link_to image_tag("logo_no_name.png", alt: "logo", size:"75x75", class: "site-logo"), '/', class: 'navbar-brand' %></li>
    <li class="dropdown-left">
      <a href="javascript:void(0)" class="dropbtn">
        Dishes <b class="caret"></b>
      </a>
      <div class="dropdown-content-left">
        <ul class="dropdown-left">
          <li class="dditem-left">
            <%= link_to dishes_path do %>
              <i class="fa fa-cutlery"></i>   ALL DISHES
            <% end %>
          </li>
          <li class="dditem-left">
            <%= link_to discounts_path do %>
              <i class="fa fa-usd"></i>   PROMOTIONS
            <% end %>
          </li>
        </ul>
      </div>
    </li>
    <li id="navbar"><%= link_to 'About Eats', about_path %></li>
    <li id="navbar">
    <%= form_tag(dishes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search , params[:search], placeholder: "  Find your favorite dish!", id: "field", class: "awesomplete", list: "mylist" %></div>
      <datalist id="mylist">
        <% @dishes.each do |dish| %>
          <option><%= dish.name %></option>
        <% end %>
      </datalist>
      <%= button_tag(type: "submit", class: "search-button") do %>
        <%= image_tag("icon_search.png", alt: "logo", size:"24x24", class: "search-icon")%>
      <% end %>
    <% end %>
    </li>
    <% if logged_in? %>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
          <%= current_user.name %> <b class="caret"></b>
        </a>
        <div class="dropdown-content">
          <ul class="dropdown">
            <li class="dditem">
              <%= link_to current_user do %>
                <i class="fa fa-user-o"></i>  PROFILE
              <% end %>
            </li>
            <% if current_user.is_cook? %>
            <li class="dditem">
              <%= link_to user_dishes_path_url(current_user.id) do %>
                <i class="fa fa-cutlery"></i>  DISHES
              <% end %>
            </li>
            <li class="dditem">
              <%= link_to promotions_path do %>
                <i class="fa fa-usd"></i>  PROMOTIONS
              <% end %>
            </li>

            <li class="dditem">
              <%= link_to pending_orders_path do %>
                <i class="fa fa-pencil-square-o"></i>  PENDING ORDERS
              <% end %>
            </li>
            <% end %>
            <%@cart = current_cart %>

            <li class="dditem">
              <%= link_to user_orders_path(current_user.id) do %>
                <i class="fa fa-file-text-o"></i>  SHOPPING HISTORY
              <% end %>
            </li>

            <li class="dditem">
              <%= link_to edit_user_path(current_user) do %>
                <i class="fa fa-cogs"></i>  SETTINGS
              <% end %>
            </li>
            <li class="dditem">
              <i class="fa fa-eye"></i>  VISIBLE <%= check_box_tag current_user.visible, true, checked = true, :class =>"js-switch", :data => {:remote => true} %>
            </li>
            <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
          </ul>

        </div>
      </li>
      <li id="navbar" class="right"><%= image_tag(current_user.avatar.url, alt: "User Navbar Image", size:"45x45", class: "user-nav")%></li>
      <li id="navbar" class="right"><%= link_to '', cart_path(current_cart), class: "fa fa-shopping-cart", id: "navbar-icon" %></li>
    <% else %>
      <%@cart = current_cart %>
      <li id="navbar" class="right"><%= link_to 'Login', login_path %></li>
      <li id="navbar" class="right"><%= link_to '', cart_path(current_cart), class: "fa fa-shopping-cart", id: "navbar-icon" %></li>
    <% end %>
  </ul>
</nav>
