<!--

<h1><a href="https://dribbble.com/shots/850410" target="_blank">Dropdown Menu UI</a></h1>

<div class="content">
	<div class="admin-panel"><label for="toggle" class="admin-text">Admin Settings</label></div>
	<input type="checkbox" id="toggle">
	<label class="cog octicon octicon-gear" for="toggle"></label>
	<div class="menu">
		<div class="arrow"></div>
			<a href="#">Edit Users <span class="icon octicon octicon-person"></span></a>
			<a href="#">Web Statistics <span class="icon octicon octicon-graph"></span></a>
			<a href="#">Upload Settings <span class="icon octicon octicon-cloud-upload"></span></a>
			<a href="#">Edit Slider <span class="icon octicon octicon-pencil"></span></a>
		</div>
	</div>
</div>

Dropdown</button>

-->

<nav>
  <ul class="navbar">
    <li id="navbar"><a class="navbar-brand" href="./">Eats</a></li>
    <li id="navbar"><%= link_to 'Dishes', dishes_path %></li>
    <% if logged_in? %>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
          <%= current_user.name %> <b class="caret"></b>
        </a>
        <div class="dropdown-content">
          <ul>
            <li><%= link_to "Profile", current_user %></li>
            <% if current_user.is_cook? %>
              <li><%= link_to "My Dishes", new_dish_path %></li>
            <% end %>
            <li><%= link_to "Cart", cart_path %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>

        </div>
      </li>
    <% else %>
      <li id="navbar-right"><%= link_to 'Login', new_session_path %></li>
    <% end %>
  </ul>
<nav>
