<div id="sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <% if current_user && current_user.is_cook? %>
    <a id="navbar-item" href="#">Partners</a>
    <a id="navbar-item" href="#">Your Locations</a>
    <a id="navbar-item" href="#">New Promotion</a>
  <% elsif current_user && current_user.is_admin? %>
    <%= link_to 'Eats Info', app_info_path, {style: "font-size: 16px;"} %>
    <%= link_to 'Database', admin_help_path, {style: "font-size: 16px;"} %>
    <%= link_to 'Statistics', statistics_path, {style: "font-size: 16px;"} %>
  <% else %>
    <%= link_to 'Promotions', promotions_path, {style: "font-size: 16px;"} %>
    <%= link_to 'Popular Cooks', popular_cooks_path, {style: "font-size: 16px;"} %>
    <%= link_to 'Popular Dishes', popular_dishes_path, {style: "font-size: 16px;"} %>
  <% end %>
  <br><br>
  <hr>
  <br><br>
  <%= link_to 'All Dishes', dishes_path, {style: "font-size: 16px;"} %>
  <a id="navbar-item" href="#">All dishes</a>
  <% @categories.each do |category| %>
    <a id="navbar-item" href="#"><%= category.name %></a>
  <% end %>

</div>
