<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eats</title>
    <meta name="author" content="Gustavo Antunes and Federico Kunze">
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <html lang="en-US">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <meta name="description" content="Eats is a web app to buy dishes from recognised independent cooks in your area.">
    <meta property="og:description" content="Eats is a web app to buy dishes from recognised independent cooks in your area.">
    <meta property="og:title" content="Eats">
    <meta name="twitter:title" content="Eats">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="index-main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
