<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eats</title>
    <meta name="author" content="Gustavo Antunes and Federico Kunze">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <html lang="en-US">
    <meta name="description" content="Eats is a web app to buy dishes from recognised independent cooks in your area.">
    <meta property="og:description" content="Eats is a web app to buy dishes from recognised independent cooks in your area.">
    <meta property="og:title" content="Eats">
    <meta name="twitter:title" content="Eats">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="index-main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
