<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eats</title>
    <meta name="author" content="Gustavo Antunes and Federico Kunze">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <html lang="en-US">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <meta name="description" content="Eats is a web app to buy dishes from recognised independent cooks in your area.">
    <meta property="og:description" content="Eats is a web app to buy dishes from recognised independent cooks in your area.">
    <meta property="og:title" content="Eats">
    <meta name="twitter:title" content="Eats">
  </head>

  <body>
    <% flash.each do |message_type, message| %>
					<div class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
